openapi: 3.0.4
info:
  title: Curriculum Vitae API
  version: 0.0.9
  description: |
    This is the OpenAPI specification for Alberto González's Curriculum Vitae (CV) API.
  contact:
    name: Alberto González
    email: contact@alberto-gonzalez.es
    url: https://alberto-gonzalez.es

servers:
  - url: https://api.alberto-gonzalez.es
    description: CV API Server

tags:
  - name: Person
    description: Personal information endpoints
  - name: Download
    description: File download endpoints
  - name: Skills
    description: Skills and competencies
  - name: Experience
    description: Work experience history
  - name: Education
    description: Academic background
  - name: Projects
    description: Personal and professional projects
  - name: Certifications
    description: Professional certifications
  - name: Languages
    description: Language proficiencies
  - name: Contact
    description: Contact information and social links
  - name: Awards
    description: Awards and recognitions
  - name: References
    description: Professional references

paths:
  /v1/cv/download:
    get:
      operationId: downloadCvPdf
      summary: Download CV as PDF
      description: Generate the CV in PDF format on the backend and return it as a downloadable file.
      tags:
        - Download
      parameters:
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: CV PDF file generated successfully
          headers:
            Content-Disposition:
              description: Indicates that the response should be downloaded as a file.
              schema:
                type: string
              example: attachment; filename="alberto-gonzalez-cv.pdf"
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /v1/person/personal-info:
    get:
      operationId: getPersonalInfo
      summary: Get personal information
      description: Basic information about the CV owner.
      tags:
        - Person
      parameters:
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: Personal information
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'

  /v1/person/{id}:
    get:
        operationId: getPersonById
        summary: Get person by id
        description: Retrieve detailed person information by unique identifier.
        tags:
          - Person
        parameters:
          - $ref: '#/components/parameters/by_id'
          - $ref: '#/components/parameters/accept_language'
        responses:
          '200':
            description: Person
            headers:
              Content-Language:
                $ref: '#/components/headers/Content-Language'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Person'

  /v1/skills:
    get:
      operationId: getSkills
      summary: List skills
      description: Get skills with filters, search, pagination and sorting.
      tags:
        - Skills
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/tags'
        - $ref: '#/components/parameters/level'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: Paginated list of skills
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSkills'

  /v1/skills/{id}:
    get:
      operationId: getSkillById
      summary: Get skill by id
      description: Retrieve a specific skill by unique identifier.
      tags:
        - Skills
      parameters:
        - $ref: '#/components/parameters/by_id'
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: Skill
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'

  /v1/experience:
    get:
      operationId: getExperiences
      summary: List work experiences
      description: Filter by company, dates, location, tags, search, and pagination.
      tags:
        - Experience
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/company'
        - $ref: '#/components/parameters/start_year'
        - $ref: '#/components/parameters/end_year'
        - $ref: '#/components/parameters/location'
        - $ref: '#/components/parameters/tags'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: Paginated list of experiences
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExperiences'

  /v1/experience/{id}:
    get:
      operationId: getExperienceById
      summary: Get experience by id
      description: Retrieve a specific work experience by unique identifier.
      tags:
        - Experience
      parameters:
        - $ref: '#/components/parameters/by_id'
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: Experience
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experience'

  /v1/education:
    get:
      operationId: getEducation
      summary: List education
      description: Academic records with optional filters and pagination.
      tags:
        - Education
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/start_year'
        - $ref: '#/components/parameters/end_year'
        - $ref: '#/components/parameters/location'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: Paginated list of education
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEducation'

  /v1/education/{id}:
    get:
      operationId: getEducationById
      summary: Get education by id
      description: Retrieve a specific education record by unique identifier.
      tags:
        - Education
      parameters:
        - $ref: '#/components/parameters/by_id'
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: Education
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Education'

  /v1/projects:
    get:
      operationId: getProjects
      summary: List projects
      description: Projects with filters, tags, date range, pagination and sorting.
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/tags'
        - $ref: '#/components/parameters/start_year'
        - $ref: '#/components/parameters/end_year'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: Paginated list of projects
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjects'

  /v1/projects/{id}:
    get:
      operationId: getProjectById
      summary: Get project by id
      description: Retrieve a specific project by unique identifier.
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: Project
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

  /v1/certification:
    get:
      operationId: getCertifications
      summary: List certifications
      description: Certifications with optional filters and pagination.
      tags:
        - Certifications
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/start_year'
        - $ref: '#/components/parameters/end_year'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: Paginated list of certifications
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCertifications'

  /v1/certification/{id}:
    get:
      operationId: getCertificationById
      summary: Get certification by id
      description: Retrieve a specific certification by unique identifier.
      tags:
        - Certifications
      parameters:
        - $ref: '#/components/parameters/by_id'
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: Certification
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certification'

  /v1/languages:
    get:
      operationId: getLanguages
      summary: List languages
      description: Languages with optional filters such as proficiency and pagination.
      tags:
        - Languages
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/proficiency'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Paginated list of languages
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLanguages'

  /v1/contact-info/{id}:
    get:
      operationId: getContactInfoById
      summary: Get contact information by id
      description: Retrieve contact information such as email and phone numbers.
      tags:
        - Contact
      parameters:
        - $ref: '#/components/parameters/by_id'
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: Contacts
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfo'

  /v1/contact-info/{id}/social:
    get:
      operationId: getSocialLinksByContactId
      summary: Get social links by contact info id
      description: Retrieve social media or professional profile links.
      tags:
        - Contact
      parameters:
        - $ref: '#/components/parameters/by_id'
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: Social links
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialLink'

  /v1/contact/form:
    post:
      operationId: sendContactFormEmail
      summary: Send contact form by email
      description: Receive contact form data and forward it by email.
      tags:
        - Contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactFormRequest'
            examples:
              valid:
                summary: Valid contact form request
                value:
                  name: John Doe
                  email: john.doe@example.com
                  subject: Project opportunity
                  message: I would like to discuss a potential collaboration.
                  phone: +34600111222
                  website: ''
                  captchaToken: 03AFcWeA4x2SAMPLE_TOKEN
              bot_payload:
                summary: Bot payload (hidden field filled)
                value:
                  name: Bot User
                  email: bot@example.com
                  subject: Cheap services
                  message: Buy now
                  website: i-am-a-bot
                  captchaToken: invalid-token
      responses:
        '202':
          description: Contact form accepted for email delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '422':
          description: Validation error in contact form payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error while sending the email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Invalid contact form payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/awards:
    get:
      operationId: getAwards
      summary: List awards
      description: Awards and recognitions with filters and pagination.
      tags:
        - Awards
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/start_year'
        - $ref: '#/components/parameters/end_year'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Paginated list of awards
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAwards'

  /v1/references:
    get:
      operationId: getReferences
      summary: List references
      description: Professional references with pagination.
      tags:
        - References
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Paginated list of references
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferences'

components:
  parameters:
    
    accept_language:
      name: Accept-Language
      in: header
      required: false
      schema:
        type: string
    
    by_id:
      name: id
      in: path
      description: Unique identifier.
      required: true
      schema:
        type: string
        format: uuid
    
    query:
      name: query
      in: query
      description: Free text search term.
      schema:
        type: string
    
    page:
      name: page
      in: query
      description: Page number (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1
    
    per_page:
      name: per_page
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    
    sort:
      name: sort
      in: query
      description: Sort field, use prefix - for descending (e.g. start_date or -start_date).
      schema:
        type: string
    
    tags:
      name: tags
      in: query
      description: Filter by tags; multiple values separated by commas.
      schema:
        type: string
    
    level:
      name: level
      in: query
      description: Skill level or seniority (junior, mid, senior, expert).
      schema:
        type: string
    
    company:
      name: company
      in: query
      description: Filter by company.
      schema:
        type: string
    
    start_year:
      name: start_year
      in: query
      description: Start year (filter by year range).
      schema:
        type: integer
    
    end_year:
      name: end_year
      in: query
      description: End year (filter by year range).
      schema:
        type: integer
    
    location:
      name: location
      in: query
      description: Filter by location/city/country.
      schema:
        type: string
    
    language:
      name: language
      in: query
      description: Filter by language (ISO code or name).
      schema:
        type: string
    
    proficiency:
      name: proficiency
      in: query
      description: Proficiency level (A1-C2, beginner, intermediate, advanced).
      schema:
        type: string

  headers:
    
    Content-Language:
      description: Language of the response content.
      schema:
        type: string
      example: es

  schemas:
    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          example: 125
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 7

    Person:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        firstSurname:
          type: string
        secondSurname:
          type: string
        alias:
          type: string
        role:
          type: string
        age:
          type: integer
        photoUrl:
          type: string
        contactInfoId:
          type: string
          format: uuid

    Skill:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        level:
          type: string
        years:
          type: number
        tags:
          type: array
          items:
            type: string
        endorsements:
          type: integer

    Experience:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        company:
          type: string
        location:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
          nullable: true
        description:
          type: string
        responsibilities:
          type: array
          items:
            type: string
        achievements:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string

    Education:
      type: object
      properties:
        id:
          type: string
        institution:
          type: string
        degree:
          type: string
        field:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
          nullable: true
        grade:
          type: string
        description:
          type: string

    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
          nullable: true
        url:
          type: string
        repo:
          type: string
        tags:
          type: array
          items:
            type: string
        technologies:
          type: array
          items:
            type: string

    Certification:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        issuer:
          type: string
        date:
          type: string
          format: date
        url:
          type: string

    Language:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        proficiency:
          type: string

    ContactInfo:
      type: object
      properties:
        emailAddress:
          type: array
          description: List of email addresses
          items:
            $ref: '#/components/schemas/EmailAddress'
        phoneNumber:
          type: array
          description: List of phone numbers (use international format)
          items:
            $ref: '#/components/schemas/PhoneNumber'
        socialMedia:
          type: array
          description: List of social media or professional profile links
          items:
            $ref: '#/components/schemas/SocialLink'
      description: Contact information including email address, phone numbers and social media.

    EmailAddress:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        description:
          type: string
        type:
          type: string
        priority:
          type: number

    PhoneNumber:
      type: object
      properties:
        id:
          type: string
          format: uuid
        countryCode:
          type: string
        number:
          type: string

    SocialLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
        platform:
          type: string
        url:
          type: string
        username:
          type: string

    ContactFormRequest:
      type: object
      additionalProperties: false
      required:
        - name
        - email
        - subject
        - message
        - website
        - captchaToken
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
          pattern: '^[A-Za-zÀ-ÖØ-öø-ÿ''\-\s]{2,100}$'
          example: John Doe
        email:
          type: string
          format: email
          maxLength: 254
          pattern: '^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$'
          example: john.doe@example.com
        subject:
          type: string
          minLength: 3
          maxLength: 150
          pattern: '^[^<>]{3,150}$'
          example: Project Opportunity
        message:
          type: string
          minLength: 10
          maxLength: 5000
          pattern: '^[^<>]{10,5000}$'
          example: I would like to discuss a potential project opportunity.
        phone:
          type: string
          minLength: 7
          maxLength: 20
          pattern: '^\\+?[0-9() .-]{7,20}$'
          example: +34600111222
        website:
          type: string
          description: Optional website field.
          maxLength: 0
          pattern: '^$'
          default: ''
          example: ''
        captchaToken:
          type: string
          description: Captcha verification token generated by the client widget.
          minLength: 20
          maxLength: 4096
          pattern: '^[A-Za-z0-9._-]{20,4096}$'
          example: 03AFcWeA4x2SAMPLE_TOKEN

    MessageResponse:
      type: object
      properties:
        message:
          type: string
          example: Request accepted

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: Validation failed
        errors:
          type: array
          items:
            type: string
          example:
            - email must be a valid email address
            - website must be empty
            - captchaToken is invalid or expired

    Award:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        issuer:
          type: string
        date:
          type: string
          format: date
        description:
          type: string

    Reference:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        relationship:
          type: string
        contact:
          $ref: '#/components/schemas/ContactInfo'
        note:
          type: string

    PaginatedSkills:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Skill'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedExperiences:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Experience'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedEducation:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Education'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedProjects:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedCertifications:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Certification'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedLanguages:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Language'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedAwards:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Award'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedReferences:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
        meta:
          $ref: '#/components/schemas/PaginationMeta'