openapi: 3.0.4
info:
  title: Curriculum Vitae API
  version: "1.0.1"
  description: >-
    This is the OpenAPI specification for Alberto González's Curriculum Vitae (CV) API.

servers:
  - url: https://api.alberto-gonzalez.es
    description: CV API Server

paths:
  /person/personal-info:
    get:
      operationId: getPersonalInfo
      summary: Get personal information
      description: Basic information about the CV owner.
      responses:
        '200':
          description: Personal information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'

  /skills:
    get:
      operationId: getSkills
      summary: List skills
      parameters:
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/invalid_param'  # ERROR 1: Referencia a parámetro que no existe
      responses:
        '200':
          description: Paginated list of skills
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonExistentSchema'  # ERROR 2: Referencia a schema inexistente

  /experience/{id}:
    get:
      operationId: getExperienceById
      summary: Get experience by id
      # ERROR 3: Falta el parámetro 'id' requerido en el path
      responses:
        '200':
          description: Experience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experience'

  /projects/{id}:
    post:  # ERROR 4: Operación POST sin requestBody definido
      operationId: updateProject
      summary: Update project
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated project

components:
  parameters:
    query:
      name: query
      in: query
      description: Free text search term.
      schema:
        type: invalid_type  # ERROR 5: Tipo de dato inválido (no existe 'invalid_type')

  schemas:
    Person:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string